<div class="dashboard-item col-md-3 col-sm-6">
  <div class="dash-card" {{action "gotoNarrative" itemId}}>
    <h4 class="dash-title">{{#link-to 'narrative' itemId}}{{title}}{{/link-to}}</h4>
    <div>{{yield}}</div>
  </div>
</div>