<div class="draw-option selected" id="draw-option-single" {{action "changeDrawMode" "single"}}>single</div>
<div class="draw-option" id="draw-option-graduated" {{action "changeDrawMode" "graduated"}}>graduated</div>
<div class="draw-option" id="draw-option-choropleth" {{action "changeDrawMode" "choropleth"}}>choropleth</div>
