<div class="slider-values-container row">
  <span class="slider-values col-md-6">
    min: <span class="slider-value" id="slider-min-value">{{filterMin}}</span>
  </span>
  <span class="slider-values col-md-6">
    max: <span class="slider-value" id="slider-max-value">{{filterMax}}</span>
  </span>
</div>
<div id="mundi-filter-slider"></div>
