<div class="form-group filter-tags-group">
  <label class="filter-headings">{{title}}</label>
  <div class="checkbox">
    {{#each model as |item|}}
      <label>
        <input type="checkbox" value="">
        {{item.name}} <span>({{item.count}})</span>
        </label>
    {{/each}}
    <a href="#">Show More <i class="icon-sort-down-2"></i></a>
  </div><!-- /checkbox -->
</div><!-- /form-group -->
