<div class="dropdown" id="od-transform-dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Transform
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <div class="transform-option">
        <b>Buffer</b><br />
        {{input type="text" valueBinding="bufferDistance" id="buffer-distance"}}
        {{#x-select value="miles" action="changeBufferUnit" id="buffer-unit-select"}}
          {{#x-option value="miles"}}Miles{{/x-option}}
          {{#x-option value="kilometers"}}Kilometers{{/x-option}}
          {{#x-option value="meters"}}Meters{{/x-option}}
          {{#x-option value="yards"}}Yards{{/x-option}}
          {{#x-option value="feet"}}Feet{{/x-option}}
        {{/x-select}}
        <div class="btn btn-default btn-sm" id="bufferBtn" {{action "buffer" bufferDistance bufferUnit }}> Run Buffer </div>
      </div>
    </li>
    <li>
      <div class="transform-option">
        <b>Aggregate</b><br />
      </div>
    </li>
  </ul>
</div>