@import "http://fonts.googleapis.com/css?family=Unica+One|Karla:400,400italic,700";
@import "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css";
@import "bootstrap-imports";

html, body, body > .ember-view {
  margin:0px;
  padding:0px;
  font-size: 14px;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.content {
  margin-top:20px;
}

.green {
  color:#54ce8a;
}

@import "full-screen";
@import "header";
@import "dashboard";
@import "home";
@import "datasets";
@import "dataset-details";
@import "dataset-conversation";
@import "dataset-table";
@import "explore";
@import "my-data";
@import "narrative";
@import "mundi";
@import "malette";
@import "od-sidebar";
@import "open-search";
@import "legend";
@import "od-slider";
@import "od-quick-theme";
@import "od-draw-options";