@import "http://fonts.googleapis.com/css?family=Unica+One|Karla:400,400italic,700";
@import "bootstrap-imports";

/*html, body, body > .ember-view {
  height: 100%;
}*/


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.content {
  margin-top:20px;
}

.green {
  color:#54ce8a;
}

@import "full-screen";
@import "header";
@import "dashboard";
@import "home";
@import "datasets";
@import "dataset-details";
@import "dataset-conversation";
@import "explore";
@import "my-data";
@import "narrative";
@import "mundi";
@import "malette";
@import "od-sidebar";
@import "open-search";
@import "legend";
