#dashboard {
  .dashboard-item {
    margin-bottom: 15px;
  }
  .dash-card {
    border:1px solid #EEE;
    text-align: center;
    min-height: 150px;
    overflow: hidden;
    height:auto;
    padding:5px;
    .dash-title {
      font-family: Karla, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    .dash-number {
      font-size:3.5em;
      font-weight: 600;
    }
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: steelblue;
  }

  .x.axis path {
    display: none;
  }
}