#dataset-table-container {
	h5 {
		font-size: 1.5em;
	}
    h4 {
    	display: none;
    }
 	.table-controls {
 		width: 100%;
 		padding-bottom: 10px;
 		border-bottom: 1px solid #ccc;
 		display: inline-block;

 		div.pull-right {
 			margin-left: 10px !important;
 		}
 		div.pull-left,
 		button.pull-left {
 			margin-right: 10px;
 		}
 	}
 	.active-filters {
 		margin: 5px auto 10px auto;
 		.dropdown {
 			display: inline-block;
 			margin-right: 8px;
 		}
 	}
	.sample-filter {
		button {
			background-color: #ccc;
		}
		.dropdown-menu {
			padding: 10px;
		}
		span.glyphicon {
			margin-left: 5px;
		}
	}
	th {
		text-transform: capitalize;
	}
}