.full-screen {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  .fullscreen-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .header {
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0;
  }
  .footer {
    margin-top:0px;
    padding-left: 10px;
    
  }
}
