.header {
  border-bottom: 3px solid #2B4888;
  margin-bottom: 2em;

  /* Make the masthead heading the same height as the navigation */
  h1 {
    a {
      color: #000;
      font-family: 'Unica One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 55px;
      font-weight: bold;
      letter-spacing: 7.4375px;
      text-transform: uppercase;
      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }
  small {
    font-family: Karla, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .nav-pills {
    margin-top: 6px;
    margin-right: 20px;
    font-size: 12px;
  }

  .nav-pills>li {
    margin-right: 10px;
  }

  .nav-pills>li>a,
  .nav-pills>li:hover>a{
    background-color: #2B4888;
    color: #fff;
  }

  .navbar-form {
    padding: 0px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 1em;
  margin-top: 2em;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
