/*** GENERAL ------------------------- */
h1 {
	font-size: 2.143rem;
}

h2 {
	font-size: 1.857rem;
}

.page-index {
  .header .navbar .navbar-form {
    display: none;
  }
}

/*** SEARCH BAR ------------------------- */
#search-form {
  font-family: sans-serif ;
  height: 90px;
  background-color: #B43445;

  button {
  width: 100%;
  height: 60px;
  font-size: 3rem;
  line-height: 2.429rem;
  border: 0px;
  margin: 15px auto;
  background-color: #2B4888;
  	span {
  		color: #fff;
  	}
  }

  .form-control {
  background-color: transparent;
  border: 0px;
  display:inline-block;
  }

  .form-group{
    height: 60px;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    white-space: nowrap;

    label {
      float: left;
      height: 37px;
      padding: 5px 0px 0px 0px;
      font-size: 1.286rem;
      color: #000;
      font-weight: bold;
      text-transform: capitalize;
      background-color: transparent;
    }
    input{
      background-color: transparent;
      width: 100%;
      box-shadow: none;
      outline: 0px;
      &:focus {
        outline: auto;
        outline-color: #66afe9;
      }
    }
  }
}

@media (max-width: 768px) {
  #search-form {
    height: 180px;
    margin-top: 5px;
    margin-bottom: 15px;

    button {
      font-size: 2rem;
    }
  }
}
/*** Dashboard ------------------------- */
.cta {
	width: 100%;
	margin: 15px auto;
	padding: 10px;
	background-color: #D5DAE7;
	color: #2B4888;
	font-size: 1.286rem;
	border-radius: 5px;
  &:hover {
    color: #2B4888;
  }
}

.dashboard-box {
  width: 100%;
  margin:0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2B4888;
  color: #fff;
}

.db-img {
  margin-top: 18px;
  border-radius: 15px;
}

/*** CATEGORIES ------------------------- */
.category-box {
	background-color: #D5DAE7;
	padding: 25px 10px;
	box-sizing: border-box;
	margin-bottom: 20px;
	height: 150px;
	opacity: 0.9;
}

.category-box span {
	color: #2B4888;
	font-size: 3.214rem;
}

.category-box h2 {
	color: #2B4888;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.3rem;
}


