.page-mundi {
  width: 100%;
  margin: 0px;
  padding: 0px;
  .header {
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0px;
  }
  .footer {
    margin-top:0px;
  }
  #mundi-map {
    height:100%;
    width:100%;
    position: relative;
  }
}