.page-mundi {
  .header {
    border-bottom:#287b93;
    background: #37a3a5 url(../images/mundi-header.png) no-repeat;
    padding-top:20px;
    padding-bottom:10px;
    h1 {
      padding:0px;
      margin:0px;
      a {
        color: #FFF;
      }
      small {
        color:#EEE;
      }
    }
  }
  #mundi-map {
    height:100%;
    width:100%;
    position: relative;
  }
  .mundi-toolbar {
    //padding-left: 10px;
    //padding-right: 10px;
    background-color: #EEE;
    //overflow: hidden;
    border-bottom: 1px solid #C3C3C3;
  }
  #mundi-toolbar-bottom {
    width:100%;
    height: auto;
    min-height: 36px;
  }
  #mundi-toolbar-top {
    width:100%;
    overflow: hidden;
    background-color: #286e93;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-bottom: 4px;
    color:#8F8E8E;
    .mundi-step-title {
      cursor: pointer;
      &.selected {
        border-bottom:2px solid #FFF;
      }
    }
    .active {
      color:#FFF;
    }
  }
  #mundi-toolbar-bottom select {
    width: 100%;
    margin-top: 5px;
  }
  #mundi-filter-slider {
    margin-top:6px;
    margin-bottom:8px;
  }
  .tool {
    float:right;
    margin: 3px;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    border:1px solid #C3C3C3;
    border-radius:2px;
    cursor: pointer;
    background:#FFF;
    &:hover {
      background:#EEE;
    } 
  }
  #search-container {
    display: none;
    pointer-events: auto;
    position: absolute;
    margin: auto;
    width: 400px;
    height: 80%;
    margin-top: 7px;
    margin-left: 45px;
    &.visible {
      display: block;
    }
    #open-search {
      background:#FFF !important;
    }
  }
  #legend-container {
    pointer-events: auto;
    position: absolute;
    margin: auto;
    width: 400px;
    bottom: 10px;
    left: 10px;
    &.visible {
      display: block;
    }
  }
  #open-search-header {
    padding: 5px;
    padding-left: 2%;
    background: #EEE;
    text-transform: uppercase;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1em;
    pointer-events: auto;
    color: rgba(172, 172, 172, 0.7);
    text-shadow: 1px 1px 1px #EEE, 0 0 0 #EEE, 1px 2px 4px #EEE;
  }
}
