#narrative-header {
  text-align: center;
  width:100%;
  font-family: Karla, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size:2.8em;
}

#narrative-map {
  height:400px;
  width:100%;
  background:#FEFEFE;
  border:1px solid #EEE;
  color:#999;
  margin-top:40px;
  overflow: hidden;
  margin-bottom:40px;
}

.jumbotron {
    position: relative;
    height: 480px;
    width: 100%;
    padding: 0px;
    border-radius: 0px;
  }

.primary-cta {

    button {
    width: 100%;
    background-color: #2B4888;
    color: #fff;
    border: 0px;
    }

    .dropdown-menu {
    right: 0px;
      input {
      margin: 5px auto;
      }
    }
    #dropdownMenu2 li {
      padding: 10px;
    }
  }

.narrative-text-block {
  line-height: 23px;
  font-size: 16px;
  margin-bottom: 20px;
}

#narrative-description {
  width: 100%;
  text-align: center;
  padding: 1%;
  display: block;
}

.narrative-feature-box {
  .narrative-feature-title {
  }
  .narrative-feature-sub-title {
    font-size: 1.3em;
    margin-left:-0.5em;
  }
  .narrative-feature-stat {
    font-size: 11.5em;
    margin-top: -48px;
    font-weight: 500;
    color: #444;
    font-family: Karla, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
  }
}

.icon {
  padding-right:2px;
}

.page-narrative button a,
.page-narrative button a:hover {
  color:#fff;
}
