.draw-option {
  float: left;
  margin-right: 4px;
  margin-top: 2px;
  cursor: pointer;
  border: 1px solid #FEFEFE;
  padding: 4px;
  img {
    height:18px;
  }
}

#draw-option-single.single {
  border:1px solid #D0CFCF;
}

#draw-option-graduated.graduated {
  border:1px solid #D0CFCF;
}

#draw-option-choropleth.choropleth {
  border:1px solid #D0CFCF;
}

#draw-option-type.type {
  border:1px solid #D0CFCF;
}

