.draw-option {
  float: left;
  margin-right: 4px;
  margin-top: 2px;
  cursor: pointer;
  border: 1px solid #FEFEFE;
  padding: 4px;
  img {
    height:18px;
  }
  &.selected {
    border:1px solid #D0CFCF;
  }
}