#od-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  color: #000;
  background-color: #F4F7FA;
  padding: 10px 15px;
  z-index: 1000;

  .glyphicon-remove-circle {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0px auto 10px auto;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  ul.notifications {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
    font-size: 12px;

    label {
        font-weight: normal;
        display: inline;
    }

    input[type="checkbox"] {
        margin-right: 5px;
    }

    li {
        margin: 10px auto;
        border-bottom: 1px solid #ccc;
    }

    .note-type {
        text-transform: uppercase;
        font-size: 10px;
        color: #555;
    }
    .mods {
        display: inline-block;
        margin-top: 5px;
        margin-right: 5px;
        font-size: 10px;
        padding: 3px 4px;
        border: 1px solid #ccc;
    }
  }
}