{{od-activities-sidebar showSidebar=showSidebar sortedActivities=sortedActivities action="favoriteSelected"}}

<div class="footer">
  <div class="col-lg-12 col-md-12">
    <p style="float:left;">♥ from the <a href="http://dc.esri.com/">Open Data team</a></p>
  </div>
</div>
