<div class="row content">
  <div id="open-data-contact" class="col-md-6">
    <p>Not finding what you're looking for? Run into an issue you think we should know about? Send us a note!</p>
    <form>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="feedback">Feedback / Comments</label>
        <textarea class="form-control" id="feedback" placeholder="Enter text here." />
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>