
<div class="row" id="dashboard">
  {{#each model.items as |item|}}
     {{#dashboard-item title=item.title}}
       <div class="dash-number">{{format-number item.count}}</div>
     {{/dashboard-item}}
  {{/each}}

  <div class="col-md-6">
    <div class="dash-card">
      <h4 class="dash-title">Status of 311 Requests DC (last 30 days)</h4>
      {{dashboard-chart id="chart-status"}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="dash-card">
      <h4 class="dash-title">311 Service Requests by Org (last 30 days)</h4>
      <div id="chart"></div>
    </div>
  </div>

</div>
