<h3 class="dash-title">Service Requests Last 30 Days</h3>
<p>Data collected from 311 service requests over the last 30 days in the District of Columbia</p>

<div class="row" id="dashboard">
  {{#each model as |item|}}
     {{#dashboard-item title=item.title}}
       <div class="dash-number">{{item.count}}</div>
     {{/dashboard-item}}
  {{/each}}
</div>