<div class="row">
  <div class="col-xs-12">
    {{od-search action="search"}}
  </div>
</div><!-- /.row -->


<div class="row text-block">
	<div class="col-xs-12 text-left">
		<h1>Search. Discover. Use.</h1>
		<p>We want to ensure the District’s data is as open, discoverable and usable as possible in hopes of fostering greater participation and collaboration. Search the site's datasets by topic, or explore featured datasets or review the full list of DC Data sets.</p>
	</div>
</div><!-- /.row -->
<div class="row dashboard-box">
    <div class="col-xs-12 col-sm-4 text-left">
        <img src="images/dc-community.jpg" class="img-responsive db-img">
    </div>
    <div class="col-xs-12 col-sm-8 text-left">        
        <h1>Community Dashboard</h1>
        <p class="lead">Take a look into the data that is driving your community. Explore a series of visualizations and figures to gain an overview of the numbers that surround you every day.</p>
        {{#link-to 'dashboard' class="cta center-block text-center"}}
        Open the dashboard
      {{/link-to}}
    </div>
</div><!-- /.row -->
<div class="row categories">
	<div class="col-xs-12">
	<h2>Browse the data</h2>
	</div>
    <a href="/opendata-tng/#/datasets?page=1&q=political">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                <h2>Administrative & Other Boundaries</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=economic">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-barcode"></span>
                <h2>Business & Economic Development</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=cultural">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-music"></span>
                <h2>Cultural & Society<br /></h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=demographic">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-user"></span>
                <h2>Demographic<br /></h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=education">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-education"></span>
                <h2>Education</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=elevation">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-tree-conifer"></span>
                <h2>Elevation</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=environment">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-leaf"></span>
                <h2>Environment</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=structure">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-home"></span>
                <h2>Facility & Structure<br /></h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=financials">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-piggy-bank"></span>
                <h2>Financials & Procurement<br /></h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=health">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-briefcase"></span>
                <h2>Heath & Human Services</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=historic">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-tower"></span>
                <h2>Historic</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=location">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-map-marker"></span>
                <h2>Location</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=performance">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-signal"></span>
                <h2>Performance Metrics<br /></h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=planning">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-tint"></span>
                <h2>Planning Landuse & Zoning<br /></h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=property">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-queen"></span>
                <h2>Property & Land</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=safety">
        <div class="col-xs-12 col-sm-6 col-md-2">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-flag"></span>
                <h2>Public Safety</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=public">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-bullhorn"></span>
                <h2>Public Service</h2>
            </div>
        </div>
    </a>
    <a href="/opendata-tng/#/datasets?page=1&q=recreation">
        <div class="col-xs-12 col-sm-6 col-md-2 ">
            <div class="category-box text-center">
                <span class="glyphicon glyphicon-tent"></span>
                <h2>Recreation<br /></h2>
            </div>
        </div>
    </a>
</div><!-- /.row -->
<div class="row text-block">
	<div class="col-xs-12 col-sm-6 text-left">
		<h2>A Growing Site</h2>
		<p>This new site is a work in progress. We are working diligently to add new data sets, improve usability and bring forward some of the legacy datasets that did not make the initial move. Take a look at some of our newly added and recently updated datasets. If you don’t see a set you have used before, you can view and download all previous data sets at our legacy site. We plan to retire the legacy site only after everything has been moved and optimized.</p>
		<h2>Feedback</h2>
		<p>If you have questions, suggestions, requests or any other feedback, please contact the Chief Data Officer or shoot us a tweet at @opendatadc.</p>
	</div>

	<div class="col-xs-12 col-sm-6 text-left">
		<h2>About the Data</h2>
		<p>Unless otherwise noted, the content, data, and related materials on the site are subject to the District's Terms and Conditions. All data sets can be downloaded in a variety of formats including CSV for tables and spreadsheets or Shapefiles and KML (XML) useful for GIS.</p>
		<p>API's provide access as REST, HTML, JSON, GeoJSON, WMS, WFS, and DCAT (a Resource Description Framework (RDF) used by data.gov), more in the works…</p>
		<p>For years, the District of Columbia has provided public access to the Districts data through the Internet. The District is utilizing open source technology to increase public access to the vast amount of information it creates and receives from our agency partners. In doing so, we hope residents can make more informed decisions about their government and our community.</p>
	</div>
</div><!-- /.row -->
