<div class="row">
	<div class="col-xs-12">
		<h1 class="">My Data</h1>
		<nav role="navigation">
			<ul class="nav nav-tabs">
        {{#active-link}}
          {{link-to "Favorites" "my-data.favorites"}}
        {{/active-link}}
        {{#active-link}}
          {{link-to "Downloads" "my-data.downloads"}}
        {{/active-link}}
        {{#active-link}}
          {{link-to "Projects" "my-data.projects"}}
        {{/active-link}}
			</ul>
		</nav>
	</div>
</div>

{{outlet}}
