<div class="row">
	<div class="col-xs-12">
		<h1 class="">My Data</h1>
		<nav role="navigation">
			<ul class="nav nav-tabs">
			  <li role="presentation"><a href="#">Favorites</a></li>
			  <li role="presentation"><a href="#">Downloads</a></li>
			  <li role="presentation"><a href="#">Groups</a></li>
			  <li role="presentation" class="active"><a href="#">Projects</a></li>
			</ul>
		</nav>
	</div>
	<div class="col-xs-12 section-header">
		<h2>My Projects</h2><button class="btn btn-primary pull-right">New Project</button>
	</div>
	<div class="col-xs-12 project">
		<a href="#"><span class="glyphicon glyphicon-trash pull-right"></span></a>
		<a href="#"><span class="glyphicon glyphicon-folder-open"></span> Business Growth (Map)</a>
	</div>
	<div class="col-xs-12 project">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td width="60%"><a href="#">City Parcels</a></td>
						<td width="20%">Unfiltered</td>
						<td width="20%">Styled</td>
					</tr>
					<tr>
						<td><span class="glyphicon glyphicon-plus"></span> <a href="#">Demographics</a></td>
						<td>Filtered</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#">BID Zoning</a></td>
						<td>Unfiltered</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#">Traffic Patterns</a></td>
						<td>Unfiltered</td>
						<td>Heatmaped</td>
					</tr>
				</tbody>
			</table>
		</div><!-- /table-responsive -->
	</div>

	<div class="col-xs-12 project">
		<a href="#"><span class="glyphicon glyphicon-trash pull-right"></span></a>
		<a href="#"><span class="glyphicon glyphicon-folder-open"></span> My Neighborhood (Dashboard)</a>
	</div>
	<div class="col-xs-12 project">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<tbody>
					<tr>
						<td width="60%"><a href="#">Crime - Last 30 Days</a></td>
						<td width="20%">Unfiltered</td>
						<td width="20%"></td>
					</tr>
					<tr>
						<td><a href="#">Property Values</a></td>
						<td>Filtered</td>
						<td>Styled</td>
					</tr>
					<tr>
						<td><span class="glyphicon glyphicon-plus"></span> <a href="#">Transportation</a></td>
						<td>Filtered</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#">K12 Education Progress</a></td>
						<td>Unfiltered</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="#">Voting District</a></td>
						<td>Filtered</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div><!-- /table-responsive -->
	</div>


{{outlet}}
</div>