
<h1 id="narrative-header"> {{model.dataset}} </h1>

<span id="narrative-description">This data layer shows 311 Service Requests in the last 30 days for all service request types.</span>

{{esri-map id="narrative-map" model=model.dataset}}


{{outlet}}
